#textnav{
	 
	margin-right: 3.6%;
}
#textnav a{

	font-weight: 510;
}
#color{
	color:white;
}
#logo{
	width: 75px;

}
#sen{
	color:#009FFF;
}
.text p{
	text-align: center;
	font-weight: 500;
	font-size: 130%;
}