#logo{
	width: 75px;

}
#textnav{
	 
	margin-right: 3.6%;
}
#sen{
	color:#009FFF;
}
.buydiv{
	position: fixed;
	background: rgba( 21, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.backdiv{
	display: grid;
	position: fixed;
width: 300px;
height: 204px;
top: 50%;
left: 50%;
margin-top: -150px; /* Negative half of height. */
margin-left: -150px;
background: white;


}
#xr{
	
	position: fixed;
	grid-row-start: 1;
	height: 20px;
	margin-left: 280px;
	cursor: pointer;
}
#inp{
	display: grid;
grid-template-rows: 35px 35px 35px 35px 35px;
grid-row-gap: 10px;

}
.str{
	display: grid;
	grid-template-columns: 25% 75%;
}
.str p{

	 justify-self: end;
	 
}
#textnav a{

	color: white;
	font-weight: 510;
}
.photo img{
	height: 250px;
}
.wrapper{
	display: grid;
	grid-template-columns: 8% 84% 8%;
	margin-top: 1%;

	
}

.center{
	display: grid;
	
	grid-column-start: 2;
	grid-column-gap: 10%;
	grid-template-columns: 458px 35%;
}
/* kal start */
.back{
	display: grid;
	
	grid-template-columns: 100%;
	grid-template-rows: 10% 90%;
	
	
}
.textpre{
	

}
.textpre p{
	font-weight: 500;
	font-size: 110%;
}
.katigrao {
	background-color: #F4F4F4;
		
	font-weight: 600;
	display: grid;
	height: 230px;
	grid-template-columns: 100%;
	grid-template-rows: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;

}
.option1{
	display: grid;
	grid-row-start: auto;
	grid-template-columns: 60% 40%;

}
.texetoption1{
	grid-column-start: 1;
}
.optiontext select{
	grid-column-start: 2;
	width: 100%;
}
#led{
	text-align: left;
}
.restext {
	display: grid;
	grid-template-columns: 20% 80%;
	
}

.butt{
	
	 justify-self: start;
	 width: 100%;
}
.podphoto{
	display: grid;
	grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
	grid-template-rows:50% 50%;
	grid-column-gap: 3%;
	grid-row-gap:4%;

}
.photoslide1 img{
	width: 100%;
	border:solid 1px #F4F4F4 ;
}

.butt button{
	background-color:#007ADA;
	border-radius: 3px;
	border: 0;
	color:white;
	font-weight: 500; 
	cursor: pointer;
width: 100%;
}
.butt button:hover{
	background-color: #239DFD;
}
.prive{
	 justify-self: end;
	
}

/*kal end*/
